{% extends 'base.html' %}
{% block title %} Delhi Darbar | Menu {% endblock %}

{% block content %}

<!-- Menu -->

<div class="row col-lg-12 col-md-12 justify-content-center">

    <div class="container menu mt-5 mb-5 p-3 rounded">

        <div class="col-12">
            <h1 class="text-center">Delhi Darbar' Menu</h1>

            <hr class="mx-5 text-center border border-dark border-3">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717170927/delhidarbar1_p0ktva.png" alt="menu-starters">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717170938/delhidarbar2_j1gt7x.png" alt="menu_starters">

           <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171031/delhidarbar3_x8wmfc.png" alt="menu_maincourse">

           <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171098/delhidarbar4_ric0eq.png" alt="menu_maincourse">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171148/delhidarbar5_aymv8p.png" alt="menu_desserts">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171183/delhidarbar6_fbvexo.png" alt="menu_drinks">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171218/delhidarbar7_aelrjh.png" alt="menu_drinks">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171272/delhidarbar8_iruiya.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171313/delhidarbar9_uvsilc.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171344/delhidarbar10_nasef3.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171344/delhidarbar10_nasef3.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171440/delhidarbar12_cchgp0.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171481/delhidarbar13_qgkfjn.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171514/delhidarbar14_pihldk.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171551/delhidarbar15_qzqlss.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171584/delhidarbar16_f83ezq.png" alt="sundays_menu">

            <img src="https://res.cloudinary.com/dfcvnucfu/image/upload/v1717171626/delhidarbar17_i4vpuz.png" alt="sundays_menu">
           
          


        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">

        {% for category in categories%}
        <div class="col-lg-6 col-md-12">
            <div class="card menu-card border border-0 d-flex justify-content-center h-100 mx-2">
                <div class="card-body h-100 mx-2">
                    <h4 class="card-title text-center">
                        {{ category.name }}
                    </h4>
                    <div class="card-text">
                        {% for item in menu_list %}
                        {% if item.category == category %}
                        <div class="menu-item align-self-center">
                            <h5 class="mb-1">{{ item.name }}</h5>
                            <p class="mb-3">{{ item.description }}
                                <br>
                                <strong>{{ item.price }}€</strong>
                            </p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Menu -->

{% endblock content %}